{% extends 'football/html/base.html' %}
{% load static %}

{% block menu_champions_league_class %} active {% endblock %}

{% block content %}    
<!-- Custom styles for this template -->
<title>Ліга Чемпіонів - Oleksii Iovchev</title>
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="{% static 'champions_league/ch_league_3.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Ліга чемпіонів УЄФА</h1>
            <p>Щорічний футбольний турнір, що проводиться поміж європейськими клубами, які найбільш успішно виступили в національних чемпіонатах попереднього сезону.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="{% static 'champions_league/ch_league_2.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Ліга чемпіонів УЄФА</h1>
            <p>Турнір запроваджено УЄФА.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="{% static 'champions_league/ch_league_1.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Ліга чемпіонів УЄФА</h1>
            <p>Раніше (з сезону 1955/56 до сезону 1991/92) турнір мав назву Кубок Європейських чемпіонів.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    
      <h1 style="text-align: center;padding-bottom: 3rem;">Команди - 1/4</h1>
      
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="{% static 'team_logos/Manchester_City_FC.png' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
        <h2 class="fw-normal">Манчестер Сіті</h2>
        <p>Клуб виступає в англійській Прем'єр-лізі. Після придбання клубу еміратськими інвесторами у 2008 році, він є одним з лідерів англійського футболу.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="{% static 'team_logos/inter_logo.png' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
        <h2 class="fw-normal">Інтер Мілан</h2>
        <p>Виступає у вищій італійський лізі разом з іншим міланським клубом «Міланом», своїм довічним принциповим суперником в чемпіонаті Італії.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="{% static 'team_logos/Real_Madrid.png' %}" width="100%" height="100%"  /></svg>
        <h2 class="fw-normal">Реал Мадрид</h2>
        <p>Один із найвідоміших і найсильніших клубів Іспанії та світу. Найкращий футбольний клуб XX століття за версією ФІФА.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="{% static 'team_logos/Logo_of_AC_Milan.svg.png' %}" width="100%" height="100%" /></svg>
        <h2 class="fw-normal">ФК Мілан</h2>
        <p>Associazione Calcio Milan, зазвичай відомий як AC Milan або просто Milan, — професійний футбольний клуб у Мілані, Італія, заснований у 1899 році.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата та час</th>
            <th scope="col">Перша команда</th>
            <th scope="col">Друга команда</th>
            <th scope="col">Результат</th>
          </tr>
        </thead>
        <tbody>
          {% for match in data %}
          <tr>
            <td>{{match.id}}</td>
            <td>{{match.match_date}}</td>
            <td><img src="{{ match.first_team_icon }}" width="20" height="20"/> {{match.first_team}}</td>
            <td><img src="{{ match.second_team_icon }}" width="20" height="20"/> {{match.second_team}}</td>
            <td>{{match.score_first_team}} : {{match.score_second_team}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <hr class="featurette-divider">
    </main>
{% endblock %}
