{% extends 'football/html/base.html' %}
{% load static %}

{% block content %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Всього матчей</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      <h2>Матчі</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Дата та час</th>
              <th scope="col">Перша команда</th>
              <th scope="col">Друга команда</th>
              <th scope="col">Результат</th>
            </tr>
          </thead>
          <tbody>
            {% for match in data %}
            <tr>
              <td>{{match.id}}</td>
              <td>{{match.match_date}}</td>
              <td><img src="{{ match.first_team_icon }}" width="20" height="20"/> {{match.first_team}}</td>
              <td><img src="{{ match.second_team_icon }}" width="20" height="20"/> {{match.second_team}}</td>
              <td>{{match.score_first_team}} : {{match.score_second_team}}</td>
            </tr>
            {% endfor %}
            <!-- <tr>
              <td>1,002</td>
              <td>placeholder</td>
              <td>irrelevant</td>
              <td>visual</td>
              <td>layout</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

{% endblock %}
