{% extends 'football/html/base.html' %}
{% load static %}

{% block menu_teams_class %} active {% endblock %}


{% block content %}
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
<title>Команди - Oleksii Iovchev</title>

<body>  
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Команди</h1>
        <p class="lead text-muted">На цій сторінці ви можете переглянути інформацію про команду, а також останні матчі конкретної команди.</p>
        <p>
          <a href="{% url 'home' %}" class="btn btn-primary my-2">Усі останні матчі</a>
          <a href="{% url 'players' %}" class="btn btn-secondary my-2">Гравці</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
        <div class="container marketing">
        <div class="row">
    

            
            <div class="col-lg-6">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="{% static 'team_logos/Manchester_City_FC.png' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
              <h2 class="fw-normal">Манчестер Сіті</h2>
              <p>Клуб виступає в англійській Прем'єр-лізі. Після придбання клубу еміратськими інвесторами у 2008 році, він є одним з лідерів англійського футболу.</p>
              <p><a class="btn btn-secondary" href="{% url 'manchester_city' %}">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-6">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><image href="{% static 'team_logos/Real_Madrid.png' %}" width="100%" height="100%"  /></svg>
              <h2 class="fw-normal">Реал Мадрид</h2>
              <p>Один із найвідоміших і найсильніших клубів Іспанії та світу. Найкращий футбольний клуб XX століття за версією ФІФА.</p>
              <p><a class="btn btn-secondary" href="{% url 'real_madrid' %}">View details »</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
      


</main>

    <!-- <script src="{% static '/dist/js/bootstrap.bundle.min.js' %}"></script> -->

  
{% endblock %}

